

body{
  width: 100%;
}

.navbar_all{

  width: 50%;


}

.dropdown {

  display: inline-block;
  vertical-align: top;
  color: red;
  width: 32%;
}

.dropbtn{
text-align: justify;

}

select{
  width: 100%;

  margin: 0;
  padding: 0;
  border-color: blue;
}

select[multiple] {

  -webkit-appearance: menulist;
  appearance: menulist;
}

.all_subcategories{
  display: none;
}

.all_brands{

}

@media screen and (max-width: 1079px) {
  .navbar_all{
    display: none;
  }
}

.button{
  color: white;
  background-color: red;
  border-radius: 10px;
  width: 20%;
  height: 20px;

}
